.icon {
	mask-size: 100%;
	mask-position: center;
	mask-repeat: no-repeat;
}

.icon--cart {
	mask-image: url('/e-commerce-product-page/icons/icon-cart.svg');
	background-color: hsl(var(--very-dark-blue));
}

.icon--plus {
	mask-image: url('/e-commerce-product-page/icons/icon-plus.svg');
	background-color: hsl(var(--orange));
}

.icon--minus {
	mask-image: url('/e-commerce-product-page/icons/icon-minus.svg');
	background-color: hsl(var(--orange));
}

.icon--close {
  mask-image: url('/e-commerce-product-page/icons/icon-close.svg');
	background-color: hsl(var(--white));
}

.icon--previous {
  mask-image: url('/e-commerce-product-page/icons/icon-previous.svg');
	background-color: hsl(var(--dark-grayish-blue));
}

.icon--next {
  mask-image: url('/e-commerce-product-page/icons/icon-next.svg');
	background-color: hsl(var(--dark-grayish-blue));
}

.icon--delete {
	mask-image: url('/e-commerce-product-page/icons/icon-delete.svg');
	background-color: hsl(var(--grayish-blue));
}

.icon--menu {
	mask-image: url('/e-commerce-product-page/icons/icon-menu.svg');
	background-color: hsl(var(--dark-grayish-blue));
}